{% extends "base.html.jinja" %}
{% block content %}
    <h1 align="center">{{text}}</h1>
    <p align="center"> Witaj w Web Scraper !!</p>
    <p align="center">jest to aplikacja webowa, która służy do pobierania opinii z serwisu ceneo i do ich późniejszej analizy. Całość oparta jest na frame worku flask.</p>
    <p align="center">Projekt wykożystuje takie biblioteki jak: Flask, BeautifulSoup, requests, matplotlib, pandas, datatables.js </p>
    
{% endblock %}
